.blockInfo {
    min-width: 1440px;
    background-color: var(--brand-light-blue);
    display: flex;
    justify-content: center;
}
.blockInfoWrapper1 {
    width: 100%;
    min-width: 1236px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blockInfoWrapper {
    display: flex;
}
.infoItem {
    min-width: 109px;
    margin: 40px 82px;
    text-align: center;
}

.infoItemNumbers {
    font: var(--main-numbers);
    margin-bottom: 16px;
}
.infoItemSuccess {
    font: var(--main-numbers-text);
    color: var(--brand-gray);
}
@media (max-width: 376px) {
    .blockInfoWrapper {

        //padding: 30px 31px;
    }
    .infoItem {
        margin: 0 10px 0 0;
    }
    .infoItem:nth-child(3) {
        margin-right: 68px;
    }
    .infoItemNumbers {
        font: var(--main-numbers-mobile);
    }
    .infoItemSuccess {
        font: var(--main-numbers-text-mobile);
    }
}