
.header {
     display: flex;
 }
.menu {
     display: flex;
 }
.item {
     font: var(--header-text);
     margin: 29px 0 29px 32px;
     list-style: none;
     position: relative;
 }
.logo {
     width: 50px;
     height: 42px;
     margin: 20px 101px 20px 100px;
 }
.submenu_list {
     font: var(--form-text);
     display: none;
     position: absolute;
     width: 790px;
     box-shadow: 0px 4px 18px -2px var(--brand-black-transparent);
     border-radius: 4px;
     padding-left: 32px;
 }
.arrow {
  margin-left: 5px;
}
.submenu {
   font: var(--form-text);
   margin-bottom: 16px;
 }
.submenu_margin{
  height: 12px;
}
.submenu a {
  text-decoration: none;
  color: inherit;
}
.submenu:first-child {
   padding-top: 32px;
 }
.submenu_line {
  display: none;
  width: 256px;
  height: 1px;
  background-color: var(--brand-blue);
}
.submenu:hover .submenu_line {
  display: block;
}

.item:hover{
  .submenu_list{
    display: block;
  }
}
ul {
     list-style: none
 }
.btn_submenu {
   font: var(--buttons-text);
   width: 164px;
   height: 40px;
   background: var(--brand-blue);
   color: var(--brand-white);
   border: none;
   margin: 30px 0 32px 0 ;
 }
