.footer {
    background-color: var(--brand-dark-blue);
    color: var(--brand-white);
}
.footerWrapper {
    padding: 64px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logoSocial {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}
.socialMedia {
    margin: 0;
}
.iconVk {
    margin-right: 25px;
}
.iconTwitter {
    margin-right: 31px;
}
.logoFooter {
    width: 105px;
    height: 88px;
}
.footerInformation {
    display: flex;
    flex-wrap: wrap;
}
.linkFooter {
    text-decoration: none;
    color: var(--brand-white);
}
.footerInformationItem {
    margin-right: 97px;
}
.footerInformationItem:last-child {
    margin: 0;
}
.footerTitle {
    font: var(--footer-title);
}
.footerInformation p,
.linkFooter {
    font: var(--footer-subtitle);
}
.footerPhone,
.footerEmail {
    color: var(--brand-light-gray2);
    font: var(--footer-telephone);
}
.footerLine {
    background-color: var(--brand-white);
    max-width: 1240px;
    height: 1px;
    margin: auto;
    opacity: 0.08;
}
.copyright {
    font: var(--footer-copyright);
    padding: 25px 0;
    text-align: center;
    color: var(--brand-white);
    opacity: 0.6;
}
@media screen and (max-width: 1050px) {
    .footerWrapper {
        justify-content: center;
        padding: 20px 0;
    }
    .logoSocial {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
    }
    .footerInformation {
        justify-content: space-between;
        padding: 16px;
        width: 100%;
    }
    .footerInformationItem {
        margin-right: 10px;
    }
    .footerTitle {
        font: var(--footer-title-mobile);
    }
    .footerInformation p,
    .linkFooter {
        font: var(--footer-subtitle-mobile);
    }
}

@media screen and (max-width: 596px) {
    .footerInformation {
        justify-content: space-between;
    }
}
@media screen and (max-width: 474px) {
    .footerInformationItem:last-child {
        padding-right: 30px;
    }
}
@media screen and (max-width: 354px) {
    .footerTitle {
        font: var(--form-text);
    }
    .footerInformation p,
    .linkFooter {
        font: var(--footer-telephone-mobile);
    }
}