.sliderUpBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliderTitle {
  font: var(--h1);
  margin: 0;
}

.sliderLeftArrow {
  margin-right: 66px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.sliderRightArrow {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.slides {
  display: flex;
  overflow: hidden;
  padding: 64px 0 96px 0;
  overflow-x: auto;
}

.slides::-webkit-scrollbar {
  width: 0;
}

.slide {
  max-width: 288px;
  margin-right: 30px;
  position: relative;
}

.slideTitle {
  font: var(--form-text);
  color: var(--brand-gray);
}

.slideBlockPrice {
  display: flex;
  margin-bottom: 16px;
}

.slideItemPriceNumber {
  font: var(--main-slider-text);
  margin: 0 12px 0 0;
}

.slideItemPriceNumberStrike {
  font: var(--main-slider-small-text);
  margin: 0;
  color: var(--brand-light-gray3);
  text-decoration: line-through;
}

.inStock {
  display: flex;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 10px;
}

.inStockImg {
  margin-right: 8px;
  background-color: var(--brand-white);
  padding: 7px 6px;
}

.inStockText {
  margin: 0;
  font: var(--catalog-card-not-stock);
}

.sale {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--brand-white);
  padding: 8px 10px;
  font: var(--catalog-card-text-sale);
}

.blockDown {
  position: absolute;
  top: 48px;
  left: 10px;
  display: flex;
  background-color: var(--brand-white);
  align-items: center;
}

.giftImage {
  width: 12px;
  height: 12px;
  padding: 6px 10px 8px 8px;
}

.giftText {
  margin: 0;
  padding: 2px;
  font: var(--main-text-info);
}

@media screen and(max-width: 930px) {

  .sliderButtons {
    display: none;
  }
}

@media screen and(max-width: 740px) {

  .sliderTitle {
    font: var(--h1-mobile);
    margin: auto;
  }

  .slides {
    padding: 24px 0 36px 0;
  }
}