@import './styles/colors.css';
@import './styles/typography.css';
@import './fonts/fonts.css';

body {
	margin: 0;
	font: var(--main-text);
}
.wrapper {
	width: 100%;
    max-width: 1236px;
	margin: 0 auto;
}
