/* css переменные для цветов */
:root {
    --brand-white: #FFFFFF;
    --brand-black: #161C24;
    --brand-black-transparent: rgba(0, 0, 0, 0.1);
    --brand-blue: #4295E4;
    --brand-gray: #454F5B;
<<<<<<< HEAD
=======
    --brand-light-gray: #D1D1D1;
>>>>>>> 745c6f7c90a313a7adbda807a04c1b4221de82e5
    --brand-light-blue: #F2F8FF;
}