/* css переменные для цветов */
:root {
    --brand-white: #FFFFFF;
    --brand-black: #161C24;
    --brand-black-transparent: rgba(0, 0, 0, 0.1);
    --brand-blue: #4295E4;
    --brand-gray: #454F5B;
    --brand-light-gray: #D1D1D1;
    --brand-light-blue: #F2F8FF;
}