/* css переменные для шрифтов */
:root {
    --header-text: 300 20px/24px "SFUIText-Light", sans-serif;
    --header-contact: 400 18px/21px "SFProDisplay-Regular", sans-serif;
    --h1: 600 44px/62px "SFUIText-Sembibold", sans-serif;
    --main-text-info: 400 14px/24px "SFUIText-Regular", sans-serif;
    --main-price-text: 400 12px/22px "SFUIText-Regular", sans-serif;
    --main-price-number: 600 24px/29px "SFUIText-Sembibold", sans-serif;
    --main-price-number-strike: 300 22px/26px "SFUIText-Light", sans-serif;
    --main-price-number-mobile: 600 18px/21px "SFUIText-Sembibold", sans-serif;
    --main-price-number-strike-mobile: 300 14px/17px "SFUIText-Light", sans-serif;
    --main-numbers: 600 32px/38px "SFProDisplay-Semibold", sans-serif;
    --main-text: 600 16px/26px "SFUIText-Sembibold", sans-serif;
    --main-numbers-mobile: 600 24px/34px "SFProDisplay-Semibold", sans-serif;
    --main-numbers-text-mobile: 400 14px/24px "SFUIText-Regular", sans-serif;
    --main-icons-text: 400 20px/32px "SFUIText-Regular", sans-serif;
    --main-icons-text-mobile: 600 16px/26px "SFUIText-Semibold", sans-serif;
    --main-categories-title: 600 44px/62px "SFUIText-Semibold", sans-serif;
    --main-text-mobile: 400 14px/24px "SFUIText-Regular", sans-serif;
    --main-categories-button-text-mobile: 500 16px/19px "SFProDisplay-Medium", sans-serif;
    --buttons-text: 500 16px/26px "SFProDisplay-Medium", sans-serif;
    --buttons-text-mobile: 500 16px/19px "SFProDisplay-Medium", sans-serif;
    --form-text: 400 16px/26px "SFUIText-Regular", sans-serif;
    --form-mobile: 400 14px/24px "SFUIText-Regular", sans-serif;
    --footer-title: 500 18px/28px "SFUIText-Medium", sans-serif;
    --footer-subtitle: 300 16px/26px "SFUIText-Light", sans-serif;
    --footer-telephone: 300 14px/24px "SFUIText-Light", sans-serif;
    --footer-email: 300 14px/17px "SFUIText-Light", sans-serif;
    --footer-title-mobile: 500 20px/30px "SFUIText-Medium", sans-serif;
    --footer-subtitle-mobile: 300 14px/24px "SFUIText-Light", sans-serif;
    --footer-telephone-mobile: 300 12px/14px "SFUIText-Light", sans-serif;
    --footer-email-mobile: 300 12px/14px "SFUIText-Light", sans-serif;
    --footer-copyright: 400 14px/17px "SFUIText-Regular", sans-serif;
    --h1-mobile: 600 22px/34px "SFUIText-Sembibold", sans-serif;
    --humburger-menu: 400 16px/26px "SFUIText-Regular", sans-serif;
    --catalog-title-mobile: 500 20px/30px "SFUIText-Medium", sans-serif;
    --catalog-title-mobile-2: 600 16px/26px "SFUIText-Sembibold", sans-serif;
    --categories-text-mobile: 500 14px/24px "SFUIText-Medium", sans-serif;
    --catalog-title: 600 28px/42px "SFUIText-Sembibold", sans-serif;
    --catalog-title-2: 600 32px/42px "SFUIText-Sembibold", sans-serif;
    --catalog-small-text: 400 14px/24px "SFUIText-Regular", sans-serif;
    --catalog-big-text: 400 16px/26px "SFUIText-Regular", sans-serif;
    --catalog-card-in-stock: 400 14px/24px "SFUIText-Regular", sans-serif;
    --catalog-card-not-stock: 400 14px/17px "SFUIText-Regular", sans-serif;
    --catalog-card-text-sale: 500 12px/14px "SFUIText-Medium", sans-serif;
    --catalog-card-text-present: 400 12px/14px "SFUIText-Regular", sans-serif;
    --catalog-card-text-reviews: 400 13px/21px "SFUIText-Regular", sans-serif;
    --catalog-text-checkbox: 400 20px/24px "SFUIText-Regular", sans-serif;
    --catalog-text-checkbox-mobile: 400 16px/26px "SFUIText-Regular", sans-serif;
    --catalog-text-about: 400 18px/32px "SFUIText-Regular", sans-serif;
    --catalog-text-about-mobile: 400 14px/24px "SFUIText-Regular", sans-serif;
    --catalog-text-mobile: 400 14px/26px "SFUIText-Regular", sans-serif;
    --catalog-filter-name: 600 22px/32px "SFUIText-Sembibold", sans-serif;
    --catalog-filter-title: 500 16px/26px "SFUIText-Medium", sans-serif;
    --catalog-filter-subtitle: 400 14px/24px "SFUIText-Regular", sans-serif;
    --product-page-main-text: 400 14px/24px "SFUIText-Regular", sans-serif;
    --product-page-title: 600 24px/30px "SFUIText-Sembibold", sans-serif;
    --product-page-subtitle: 600 14px/24px "SFUIText-Sembibold", sans-serif;
    --product-page-subtitle-2: 500 20px/30px "SFUIText-Medium", sans-serif;
    --product-page-subtitle-3: 500 16px/26px "SFUIText-Medium", sans-serif;
    --product-page-price-number: 600 22px/26px "SFUIText-Sembibold", sans-serif;
    --product-page-number-strike: 300 20px/24px "SFUIText-Light", sans-serif;
    --about-digits: 600 72px/72px "SFUIText-Sembibold", sans-serif;
    --about-digits-mobile: 600 48px/58px "SFUIText-Sembibold", sans-serif;
    --about-form-title: 700 32px/42px "SFUIText-Bold", sans-serif;
    --about-form-subtitle: 600 18px/28px "SFUIText-Sembibold", sans-serif;
}